# MTN Mobile Money settings
# MTN_TOKEN_URL: token endpoint (example sandbox: https://sandbox.momodeveloper.mtn.com/collection/token/)
MTN_TOKEN_URL=
MTN_REQUESTTOPAY_URL=
MTN_SUBSCRIPTION_KEY=
MTN_CLIENT_ID=
MTN_CLIENT_SECRET=
MTN_TARGET_ENVIRONMENT=sandbox

# Google Maps API (Distance Matrix) key
GOOGLE_MAPS_API_KEY=

# Server
PORT=3000
